DATABASE_URL="postgresql://username:password@localhost:5432/daily_expense_manager?schema=public"   
NEXTAUTH_SECRET=super-secret-key-daily-expense-manager-2026  
NEXTAUTH_URL=http://localhost:6886 
AUTH_URL=http://localhost:6886
